#main {
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
}

#game {
  font-family: Roboto;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

#header-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid gray;
}

header .title {
  display: inline-block;
  font-size: 30px;
}

header i {
  font-size: 20px;
  padding: 4px;
}

.board {
  height: 100vh;
  display: flex;
}

#boardrow-container {
  /* top: 0px; */
  /* height: 500px; */
  /* margin: 50px; */
  bottom: 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.game-tile {
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 4px; */
  margin: 3px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.game-tile__submission {
  border: 3px solid black;
}

.letter {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.keyboard-wrapper {
  position: fixed;
  bottom: 0;
  margin: 10px 0;
  left: 0;
}

#divider {
  /* position: absolute; */
  /* left: 0; */
  width: 100vw;
}

.keyboard {
  width: 600px;
  height: 170px;
  margin: 0px auto;
  /* border-top: 3px solid black; */
  border-radius: 10px;
}

.row {
  margin-top: 2px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  width: 50px;
  height: 50px;
  float: left;
  cursor: pointer;
  display: block;
  /* background-color: #fffff4; */
  background-color: #D3D6DA;
  color: #000000;
  border: 3px solid #000000;
  line-height: 48px;
  text-align: center;
  margin: 2px;
  border-radius: 4px;
}
