html {
  height: 100vh;
}

body {
  padding: 0 5px;
  height: 100%;
  background-color: #f9c5d1;
  background-size: cover;
  /* background-image: url('./avalanche.jpeg'); */
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  /* animation: animatedBackground 5s linear infinite; */
}

/* @keyframes animatedBackground {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
} */

#main {
  display: flex;
  flex-direction: column;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.columns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.column {
  flex: 33.33%;
}

#header-container {
  box-sizing: border-box;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #D3D3D3;
}

header .title {
  font-size: 40px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #FFF;
}

.board {
  height: 100vh;
  display: flex;
}

#boardrow-container {
  bottom: 0px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.game-tile {
  border: 2px solid gray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.game-tile__submission {
  border: 2px solid black;
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.letter {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.keyboard-wrapper {
  position: fixed;
  bottom: 0;
  margin: 10px 0;
  left: 0;
}

#divider {
  background-color: #d3d3d3;
  border: none;
  height: 1px;
  width: 100vw;
}

.keyboard {
  width: 600px;
  height: 170px;
  margin: 0px auto;
  border-radius: 3px;
}

.row {
  margin-top: 2px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  box-sizing: border-box;
  width: 56px;
  height: 50px;
  float: left;
  cursor: pointer;
  display: block;
  /* background-color: #fffff4; */
  background-color: #D3D6DA;
  color: #000000;
  border: 3px solid #000000;
  line-height: 48px;
  text-align: center;
  margin: 2px;
  border-radius: 3px;
}
