#game {
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
}

#board {
  margin: 50px auto;
}

#header-container {
  margin: auto;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid gray;
}

header .title {
  display: inline-block;
  font-size: 30px;
}

header i {
  font-size: 20px;
  padding: 4px;
}

#board .row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.game-tile {
  border: 1px solid gray;
  padding: 4px;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
